.rnv-top-banner {
  margin: 12px 0;
  padding: 16px;
  border: 2px solid #A98E7E;
  background: #F5F0E9;
  color: #C40049;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}